---
import BaseLayout from "src/layouts/BaseLayout.astro";

import { agents } from "@/personas";
import { instructions } from "@/prompts";
---

<BaseLayout title="TWONy-micro - About">
  <h2 class="mb-8 text-4xl">Tool Information</h2>

  <h3 class="mb-4 text-2xl">Prompt Introduction</h3>
  {Object.entries(instructions).map((instruction) => (
    <h3 class="text-bold mb-1 text-xl">task: {instruction[0]}</h3>
    <p class="mb-2 text-sm text-gray-900">
      <Fragment set:html={instruction[1].content}/>
    </p>
  ))}

  <div class="my-12 block border-b"></div>

  <h2 class="text-2xl">Agents Description</h2>
  <div class="divide-y">
    {agents.map((agent) => (
      <div class="py-8">
        <h3 class="text-bold mb-1 text-xl">{agent.icon} {agent.name}</h3>
        <p class="mb-2 text-sm text-gray-900">
          <Fragment set:html={agent.instruction}/>
        </p>
    </div>
    ))}
  </div>
</BaseLayout>
